{% extends "base.html" %}

{% block title%}{{title}} - Awesome Datasets{% endblock %}

{% block bodyclass %}awesome-text awesome{% endblock %}

{% block content %}

<section class="awesome-dashboard-heading text-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        	{% if metaImage %}
            <img src="/static/img/awesome-data/{{metaImage}}" width=70/>
          {% else %}
            <img src="/static/img/awesome-data/default.png" width=70/>
          {% endif %} 
        <h1 class="text-center">{{title or '404 Not Found'}}</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center">{{description or 'Datahub Collections'}}<br/> 
              <div class="breadcrumbs">
                <a href="/collections">collections</a> &raquo;
                {% if page %}
                  <a href="/awesome/{{page}}">{{ page }}</a>
                {% else %}
                  home
                {% endif %}
              </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- awesome page placeholder -->
<div class="container pad-top-0 content">
  <div class="inner_container">

    <div class="row">
      <div class="col-md-8">
        {{content | safe}}
      </div>

    </div>
  </div>
</div>

{% endblock %}
