{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}awesome{% endblock %}

{% block content %}

<section class="awesome-dashboard-heading">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center">Collections</h1>
        <div class="col-sm-8 col-sm-offset-2">
            <p class="text-center">Collections - high quality data and datasets organized by topic. <br/> 
              <span class="highlight-text"> We also have thousands of curated datasets which you can search for <a href="/requests"?>here</a>.</span></p>
        </div>

      </div>
    </div>
  </div>
</section>


<!---------------------- Awesome Data cards ---------------------->


<section class="data-cards">
  <div class="container"> 

    <!--------- row 1 ------>

    <div class="row">
      <div class="col-sm-4">
        <div class="card-custom">
          <div class="col-xs-2 pad-left-0 pad-right-0">
            <img src="/static/img/dataguide-icons/Samarbejde@3x.png">
          </div>
          <div class="col-xs-10">
            <a href="/collections/ancillaryservices" class="title">Ancillary Services</a>
            <p>In a power system, electricity generation and electricity consumption must always balance.</p>
            <a href="/collections/ancillaryservices" class="view">View Collection</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-custom">
          <div class="col-xs-2 pad-left-0 pad-right-0">
            <img src="/static/img/dataguide-icons/Transitpunkt@3x.png">
          </div>
          <div class="col-xs-10">
            <a href="/collections/auctions-transmission-capasity" class="title">Auctions, Transmission Capacity</a>
            <p>A collection of the most important "general" datasets on Auctions, Transmission Capacity.</p>
            <a href="/collections/auctions-transmission-capasity" class="view">View Collection</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-custom">
          <div class="col-xs-2 pad-left-0 pad-right-0">
            <img src="/static/img/dataguide-icons/CO2@3x.png">
          </div>
          <div class="col-xs-10">
            <a href="/collections/co2-emission" class="title">CO2 Emissions</a>
            <p>CO2 emissions from electricity consumption - emission and prognosis.</p>
            <a href="/collections/co2-emission" class="view">View Collection</a>
          </div>
        </div>
      </div>
    </div>


    <!--------- row 2 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/dataguide-icons/Marked@3x.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/day-ahead-market" class="title">Day Ahead Market</a>
              <p>The Danish electricity market is a part of the Nordic market model.</p>
              <a href="/collections/day-ahead-market" class="view">View Collection</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/dataguide-icons/Fjernvarme@3x.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/electric-boilers" class="title">Electric Boilers</a>
              <p>Overall balance of consumption, production, import and export of electricity in an area.</p>
              <a href="/collections/electric-boilers" class="view">View Collection</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/dataguide-icons/Gas@3x.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/gas-quality" class="title">Gas</a>
              <p>The quality of the gas in the Danish gas system has been determined by the Security Agency.</p>
              <a href="/collections/gas-quality" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>

    <!--------- row 3 ------>

    <div class="row">
        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/dataguide-icons/Analyser@3x.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/intra-day-market" class="title">Intra Day Market</a>
              <p>The intraday market or intraday trade is the trade that takes place during the day of operation...</p>
              <a href="/collections/intra-day-market" class="view">View Collection</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/dataguide-icons/El@3x.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/electricity-consumption" class="title">Electricity Consumption</a>
              <p>Ready-to-use datasets on Electricity Consumption.</p>
              <a href="/collections/electricity-consumption" class="view">View Collection</a>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-custom">
            <div class="col-xs-2 pad-left-0 pad-right-0">
              <img src="/static/img/dataguide-icons/Elektricitet@3x.png">
            </div>
            <div class="col-xs-10">
              <a href="/collections/production-and-consumption" class="title">Production and Consumption</a>
              <p>Data related to production and consumption of electricity</p>
              <a href="/collections/production-and-consumption" class="view">View Collection</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}
