{% extends "base.html" %}

{% block title%}{{title}}{% endblock %}

{% block bodyclass %}blog{% endblock %}

{% block content %}
<!-- blog post page test placeholder -->
<div class="container">
  <div class="inner_container">
    <div class="page-header">
      <h1>
        {{title}}
      </h1>
      <p class="meta-info">
        <i class="fas fa-calendar" aria-hidden="true"></i> Last modified: {{modified}}
      </p>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {{content | safe}}
      </div>
    </div>
  </div>
</div>

{% endblock %}
